{% extends 'base.html' %}
{% block title %}아이디어 등록{% endblock %}
{% block content %}
<h1>아이디어 등록</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">아이디어 이름</label>
        <input type="text" id="name" name="name" value="{{ request.POST.name|default_if_none:'' }}{% if idea %}{{ idea.name|default_if_none:'' }}{% endif %}" required>
    </div>

    <div class="form-group">
        <label for="description">아이디어 설명</label>
        <textarea id="description" name="description" rows="5" required>{{ request.POST.description|default_if_none:'' }}{% if idea %}{{ idea.description|default_if_none:'' }}{% endif %}</textarea>
    </div>

    <div class="form-group">
        <label for="devtool">예상 개발 툴</label>
        <select id="devtool" name="devtool">
            {% for tool in devtools %}
            <option value="{{ tool.id }}" {% if request.POST.devtool|stringformat:"s" == tool.id|stringformat:"s" %}selected{% elif idea and idea.devtool.id == tool.id %}selected{% elif idea is not defined and forloop.first %}selected{% endif %}>{{ tool.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="image">아이디어 대표 이미지</label>
        <input type="file" id="image" name="image">
    </div>

    <button class="action-button" type="submit">저장</button>
    <a  class="action-button" href="{% url 'idea_list' %}">취소</a>
</form>
{% endblock %}
